{% extends "base.html" %}
{% load static %}
{% load goods_tags %}


{% block title %}{{ title }}{% endblock %}

{% block modal_cart %}
  {% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}

  <!-- Content on page -->
  <div class="row">
    <!-- Filter form -->
    <div class="dropdown mb-2">
      <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
        Filters
      </button>

      <form action="{% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" slug_url %}{% endif %}"
            method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">

        {% if not slug_url %}
          <input type="hidden" name="slug_url" value="">
        {% endif %}
        <div class="form-check text-white mx-3">
          <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault"
                 value="on" {% if request.GET.on_sale == "on" %}checked{% endif %}>
          {% if request.GET.q %}
            <input type="hidden" name="q" value="{{ request.GET.q }}">
          {% endif %}
          <label class="form-check-label" for="flexCheckDefault">
            Goods for sale
          </label>
        </div>
        <p class="text-white mx-3 mt-3">Sort:</p>
        <div class="form-check text-white mx-3">
          <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default"
                 {% if not request.GET.order_by or request.GET.order_by == "default" %}checked{% endif %}>
          <label class="form-check-label" for="flexRadioDefault1">
            By default
          </label>
        </div>
        <div class="form-check text-white mx-3">
          <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price"
                 {% if request.GET.order_by == "price" %}checked{% endif %}>
          <label class="form-check-label" for="flexRadioDefault2">
            From cheap to expensive
          </label>
        </div>
        <div class="form-check text-white mx-3">
          <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price"
                 {% if request.GET.order_by == "-price" %}checked{% endif %}>
          <label class="form-check-label" for="flexRadioDefault3">
            From expensive to cheap
          </label>
        </div>
        <button type="submit" class="btn btn-primary mx-3 mt-3">Apply</button>
      </form>
    </div>

    {% if request.GET.q %}
      <h3 class="mt-4">Search results for "{{ request.GET.q }}"</h3>
      {% if not goods %}
          <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
          <h2 class="mt-4">Nothing found on request</h2>
      {% endif %}
    {% endif %}

    {% if goods %}
      {% for product in goods %}

        <!-- Product card -->
        <div class="col-lg-4 col-md-6 p-4">
          <div class="card border-primary rounded custom-shadow">
            {% if product.image_product %}
              <img src="{{ product.image_product.url }}" class="card-img-top" alt="{{ product.name }}">
            {% else %}
              <img src="{% static 'deps/images/Not found image.png' %}" class="card-img-top" alt="...">
            {% endif %}

            <div class="card-body">
              <a class="product-card" href="{{ product.get_absolute_url }}">
                <p class="card-title text-center">
                  {{ product.name }}
    {#               {% autoescape off %}#}
    {#                 {% if product.headline %}#}
    {#                   {{product.headline}}#}
    {#                 {% else %}#}
    {#                   {{ product.name }}#}
    {#                 {% endif %}#}
    {#               {% endautoescape %}#}
                </p>
              </a>
              <p class="card-text">
                {{ product.description|truncatechars:35 }}
    {#             {% autoescape off %}#}
    {#               {% if product.bodyline %}#}
    {#                 {{product.bodyline|truncatechars:100}}#}
    {#               {% else %}#}
    {#                 {{ product.description|truncatechars:35 }}#}
    {#               {% endif %}#}
    {#             {% endautoescape %}#}
              </p>
              <p class="product_id">id: {{ product.display_id }}</p>

              <div class="d-flex justify-content-between">

                {% if product.discount %}
                  <p><s>{{ product.price }}</s> $</p>
                  <p><strong>{{ product.sell_price }} $</strong></p>
                  <span class="badge bg-warning text-dark">Discount {{ product.discount }} %</span>
                {% else %}
                  <p><strong>{{ product.price }} $</strong></p>
                {% endif %}

                <a href="{% url 'cart:cart_add' %}" class="btn add-to-cart" data-product-id="{{ product.id }}">
                  {% csrf_token %}
                  <img class="mx-1" src="{% static 'deps/icons/cart-plus.svg' %}" alt="Catalog Icon"
                       width="32" height="32">
                </a>

              </div>
              <br>

              <div class="product-bottom-details d-flex justify-content-between">
                <div class="product-review">
                  <a href="{{ product.get_absolute_url }}">
                    {{ product.product_review.count }}
                    review{{ product.product_review.count|pluralize }}
                  </a>
                </div>
                {% if user.is_authenticated %}
                  <div class="product-links heart">
                    {% if product.id in favorite_products %}
                      <a href="#" class="favorite-icon favorite add-to-favorites" data-product-id="{{ product.id }}">
                        <i class="bi bi-heart-fill"></i>
                      </a>
                    {% else %}
                      <a href="#" class="favorite-icon add-to-favorites" data-product-id="{{ product.id }}">
                        <i class="bi bi-heart"></i>
                      </a>
                    {% endif %}
                  </div>
                {% endif %}
              </div>

              <div class="product-bottom-details">
                <div class="star-container text-center">
                  <p>
                    {% for i in "12345" %}
                      {% if i|add:"0" <= product.average_rating %}
                        <span class="star star-filled">&#9733;</span>
                      {% else %}
                        <span class="star star-empty">&#9733;</span>
                      {% endif %}
                    {% endfor %}
                  </p>
                </div>
              </div>

            </div>

          </div>
        </div>
        <!-- Product card -->

      {% endfor %}
    {% else %}
      <h2 class="text-center"><strong>No products for this category yet</strong></h2>
    {% endif %}


  </div>

  {% if goods %}
    <!-- Pagination -->
    {% block pagination %}
      {% include "goods/includes/pagination.html" %}
    {% endblock %}
  {% endif %}
<br><br><br>

  <script src="{% static 'deps/js/jquery/jquery-3.7.0.min.js' %}"></script>
  <script src="{% static 'deps/js/jquery-catalog.js' %}"></script>

{% endblock %}


{% block footer %}
  <footer class="py-4 bg-dark fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Home Awesome House Style 2023</p>
    </div>
  </footer>
{% endblock %}
