{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block modal_cart %}
  {% include "includes/cart_button.html" %}
{% endblock %}


{% block content %}
  <!-- Content on page -->
  <div class="container mt-5">
    <div class="card mb-4 custom-shadow">
      <div class="row">
        <!-- Thumbnails -->
        <div class="col-md-4">
          {% if product.image_product %}
            <img src="{{ product.image_product.url }}"
                 class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1" alt="">
          {% else %}
            <img src="{% static 'deps/images/Not found image.png' %}"
                 class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#imageModal1" alt="">
          {% endif %}
        </div>
        <div class="col-md-4 ">
          <p class="product_id mt-3">id: {{ product.display_id }}</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 mt-3">
          {% if user.is_staff %}
          <a href="{% url 'catalog:product_update' product.slug %}"
             class="btn btn-secondary link-to-page float-right mr-2">
            Update
          </a>&#8194;
          <a href="{% url 'catalog:product_delete' product.slug %}"
             class="btn btn-danger link-to-page float-right">
            Delete
          </a>
        {% endif %}
        </div>
        <!-- Zoom of picture in modal window -->
        <div class="modal fade" id="imageModal1" tabindex="-1"
             aria-labelledby="imageModal1Label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="imageModal1Label">{{ product.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% if product.image_product %}
                  <img src="{{ product.image_product.url }}" class="img-fluid" alt="Image 1">
                {% else %}
                  <img src="{% static 'deps/images/Not found image.png' %}" class="img-fluid" alt="Image 1">
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Product description -->
      <div class="card-body">
        <p class="card-text">Price: <strong>{{ product.sell_price }} $</strong></p>
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <a href="{% url "cart:cart_add" %}" class="btn btn-dark add-to-cart" data-product-id="{{ product.id }}">
          {% csrf_token %}
          Add to cart
        </a>
      </div>
    </div>
  </div>
{% endblock %}
