{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block modal_cart %}
  {% include "includes/cart_button.html" %}
{% endblock %}


{% block content %}
  <div class="row">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-9 bg-white p-4 mb-5 mx-2 rounded custom-shadow">
          <h2 class="text-center mb-4">Change you password...</h2>
          <p class="text-center">Use the form below to change your password.</p>
          <form action="{% url 'user:password-change' user.id %}" method="post">
            {% csrf_token %}
            <div class="row">

              <div class="col-md-12 mb-3">
                <label for="id_old_password" class="form-label">Old Password*</label>
                <input type="password" class="form-control" id="id_old_password"
                       value="{% if form.old_password.value %}{{ form.old_password.value }}{% endif %}"
                       name="old_password"
                       placeholder="Enter your password..." required>
                       {% if form.old_password.errors %}
                         <div class="alert alert-danger alert-dismissible fade show">{{form.old_password.errors}}</div>
                       {% endif %}
              </div>

              <div class="col-md-12 mb-3">
                <label for="id_new_password1" class="form-label">New Password*</label>
                <input type="password" class="form-control" id="id_new_password1"
                       value="{% if form.new_password1.value %}{{ form.new_password1.value }}{% endif %}"
                       name="new_password1"
                       placeholder="Enter your password..." required>
                       {% if form.new_password1.errors %}
                         <div class="alert alert-danger alert-dismissible fade show">{{form.new_password1.errors}}</div>
                       {% endif %}
              </div>

              <div class="col-md-12 mb-3">
                <label for="id_new_password2" class="form-label">Confirm New Password*</label>
                <input type="password" class="form-control" id="id_new_password2"
                       value="{% if form.new_password2.value %}{{ form.new_password2.value }}{% endif %}"
                       name="new_password2"
                       placeholder="Confirm your password..." required>
                       {% if form.new_password2.errors %}
                         <div class="alert alert-danger alert-dismissible fade show">{{form.new_password2.errors}}</div>
                       {% endif %}
              </div>

            </div>
            <button type="submit" class="btn btn-dark btn-block">Change Password</button>
          </form>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
