{% extends "base.html" %}
{% load static %}
{% load carts_tags %}

{% block title %}{{ title }}{% endblock %}


{% block content %}

  <div class="row">
    <div class="container mt-5">
      <div class="row">
        <!-- Profile with user data -->
        <div class="col-md-5">
          <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
            <h3 class="text-center mb-4">User Profile</h3>
            <form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-12 mb-3 text-center">

                  <img src="{% if user.image_user %}{{ user.image_user.url }}
                       {% else %}{% static 'deps/images/baseavatar.jpg' %}{% endif %}"
                       alt="User image" class="img-fluid rounded-circle" style="max-width: 150px;">

                  <input type="file" class="form-control mt-3" id="id_image_user"
                         name="image_user"
                         accept="image_user/*">
                         {% if form.image_user.errors %}
                           <div class="alert alert-danger alert-dismissible fade show">{{form.image_user.errors}}</div>
                         {% endif %}
                </div>
                <div class="col-md-12 mb-3">
                  <label for="id_first_name" class="form-label">First Name*</label>
                  <input type="text" class="form-control" id="id_first_name" name="first_name"
                         placeholder="Enter your first name..." value="{{ user.first_name }}" required>
                          {% if form.first_name.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                          {% endif %}
                </div>
                <div class="col-md-12 mb-3">
                  <label for="id_last_name" class="form-label">Last Name*</label>
                  <input type="text" class="form-control" id="id_last_name" name="last_name"
                         placeholder="Enter your last name..." value="{{ user.last_name }}" required>
                         {% if form.last_name.errors %}
                           <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                         {% endif %}
                </div>
                <div class="col-md-12 mb-3">
                  <label for="id_username" class="form-label">Username*</label>
                  <input type="text" class="form-control" id="id_username" name="username"
                         placeholder="Enter your username..." value="{{ user.username }}" required>
                         {% if form.username.errors %}
                           <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                         {% endif %}
                </div>
                <div class="col-md-12 mb-3">
                  <label for="id_email" class="form-label">Email*</label>
                  <input type="email" class="form-control" id="id_email" name="email"
                         placeholder="Enter your email *youremail@example.com" value="{{ user.email }}" required>
                         {% if form.email.errors %}
                           <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                         {% endif %}
                </div>
              </div>
              <button type="submit" class="btn btn-dark">Save</button>
            </form>
            You want to change your password? <a href="{% url 'user:password-change' user.id %}">Here's the form</a>
          </div>
        </div>

        {% user_carts request as carts %}
        <!-- Cart -->
        <div class="col-md-7">
          <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
            <h3 class="text-center mb-4">Cart</h3>
            <div class="container" id="cart-items-container">
              <!-- Cart marking -->
              {% include "carts/includes/included_cart.html" %}
              <!-- End cart marking -->
            </div>
          </div>
        </div>

        <!-- Placed orders -->
        <div class="col-md-12">
          <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
            <h3 class="text-center mb-4">My orders</h3>
            <!-- Orders marking -->
            <div class="container">
              <div class="accordion" id="accordionExample">
              {% for order in orders %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading{{ order.id }}">
                    <button class="accordion-button {% if order != orders.0 %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}" aria-expanded="false" aria-controls="collapse{{ order.id }}">
                      Order № {{ order.id }} - {{ order.created_at }}
                      | Require the delivery: <strong class="mx-2">{{order.requires_delivery}}</strong>
                      | &#8194;<a class="order-status" href="#"> Order status:</a> <strong class="mx-2">{{ order.status_order }}</strong>
                      | &#8194;<a class="payment-status" href="#">Payment status:</a> <strong class="mx-2">{{ order.is_paid }}</strong>
                    </button>
                  </h2>
                  <div id="collapse{{ order.id }}" class="accordion-collapse collapse {% if order == orders.0 %}show{% endif %}" aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <table class="table table-dark table-hover">
                        <thead>
                        <tr>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>Price</th>
                          <th>Total price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in order.order_items.all %}
                        <tr>
                          <td><a class="text-white" href="{% url 'goods:product' item.product.slug %}">{{ item.product.name }}</a></td>
                          <td>{{ item.quantity }}</td>
                          <td>{{ item.price }} $</td>
                          <td>{{ item.products_price }} $</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                       <div class="d-flex justify-content-between">
                         <p><strong>Total:</strong></p>
                         <p><strong>{{ order.order_items.total_price }} $</strong></p>
                       </div>
                       {% if not order.is_paid %}
                         <div>
                           <a href="#" class="btn btn-secondary">Payment</a>
                         </div>
                       {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}

              </div>
            </div>

            <!-- End orders marking -->
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
