{% extends "base.html" %}
{% load static %}


{% block css-footer %}
  <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}


{% block modal_cart %}
  {% include "includes/cart_button.html" %}
{% endblock %}


{% block content %}
  <div>
    <h1 class="text-center" style="color: #842029">500 - Server Error</h1>
    <h4 class="text-center" style="color: #842029">Sorry, something went wrong on the server.</h4>
  </div>
{% endblock %}

{% block footer %}
  <footer class="py-4 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Home Awesome House Style 2023</p>
    </div>
  </footer>
{% endblock %}